.dark-mode {
    background: #171717; 
    color: white; 

    section {
        
        background: #171717; 
        color: white; 

        mat-icon, div {
            background: #171717; 
            color: white; 

        }

    } 
}