.dark-mode { 
    background: #171717; 
    color: white; 

    section {
        figure {
            blockquote {

                background: black;
                color: white;
            }
        }
    }
} 