.dark-mode {
    background-color: rgb(54, 56, 56) !important;
    color: white;
    .breadcrumb {
        background-color: rgb(54, 56, 56);
        color: white;
    }   
    
    mat-card  {
        background-color: rgb(98, 98, 98);
        color: white;
    }
   /*  a, mat-card  {
        background-color: rgb(98, 98, 98);
        color: white;
    } */
}