.course-details-outcome {
    article {
      width: 60em;
      padding: 2em 0 2em 8em;
      h3 {
        color: #ffab40;
      }
      p {
        text-align: justify;
        font-family: 'Courier New', monospace;
        font-size: 14px;
        line-height: 1.5em;
      }
      ul {
        li {
          font-weight: bold;
          line-height: 2;
        }
      }
    }
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.course-details-outcome {
  article {
    width: 100%;
    padding: 1em;
    p {
      width: 90%;
    }
    ul {
      width: 80%;
    }
  }
}
}

/* iPads/tablet (portrait and landscape) */
@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {
.course-details-outcome {
  article {
    width: 100%;
    padding: 1em;
    p {
      width: 90%;
    }
    ul {
      width: 80%;
    }
  }
}
}

/* Large screens -*/
@media only screen and (min-width: 1824px) {
.course-details-outcome {
  article {
    width: 70em;
  }
}
}